
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
	padding: 0;
    padding-top: 83.3px;

}

p{
    margin: 0;
    margin: 0;
}

.top{
    color: rgba(255,255,255,.55);
    display: grid;
    width: 100%;
    height: 83.3px;
    position:fixed;
    top: 0px;
    left: 0px;
    grid-gap: 1rem;
    grid-template-columns: 22% 60% ;
    align-items: center;
    justify-content: center;
    background: #454647;
    z-index: 580;
}


.topLogo{
    float: left;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.topLogo p{
    height: 36px;
    cursor: pointer;

 }

.logoCodo{
   height: 55px;
   align-items: center; 
}


.enlaceMenu span{
    display: none;
}




.topNav{
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 7%;
    height: 80px;
}

.listaNav{
    display: flex;
    color: rgba(255,255,255,.55);
    justify-content: space-around;
    width: 724px;
}


.listaNav li{
    padding: 0.5rem;
    align-self: flex-end;
}

.primerNav, .topLogo p {
    color: white;
}

.ultimoNav {
    color: rgb(0, 156, 0);
    
}

.listaNav li :hover{
    color: white;
}

.listaNav .ultimoNav:hover{
    color: rgb(1, 230, 1);
}



main{
    display: block;
   
}
.main-ticket {
    margin: 5% 15% 0px;
}
.divImagenCentro{
    z-index: 1;
    width: 100%;
    position: absolute;
    display: block;
    top:0;
    height: 800px;
    background: rgba(0, 0, 0, 0.6) url('../imagenes/hawaii.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.imagenCentral{
    object-fit: cover;
}



.tarjeta{
    z-index: 2;
    position: relative;
    top:0;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 715px;
    color: white;
    margin: 0 8%;
    padding: 12px;
    text-align:end;
    align-items: center;
    line-height: 1.5rem;

}
.tarjeta div{
    padding-bottom: 5rem;
}

.tarjeta h2{
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.tParrafo{
    margin-bottom: 16px;
}


.botonBlanco{
    color: #f8f9fa;
    border-color: #f8f9fa;
    border-width: 1px;
    background: none;
    height: 38px;
    width: 155px;
    padding: 6px 12px;
    border-radius: .25rem;
    font-size: 1rem;
}

.botonBlanco:hover{
    background: white;
    color:black;
}

.botonVerde{
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    border-width: 1px;
    height: 38px;
    width: 136px;
    padding: 6px 12px;
    border-radius: .25rem;
    font-size: 1rem;
}

.botonVerde:hover{
    background-color: #14633e;
}
.precios{
    margin: 30px 100px;
    height: auto;
}

.oradores {
   
    margin: 30px 100px;
    height: 680px;
    
}

.oradores h3{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.oradores h4{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}

.btn{ 
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 680;
    border:0px;
    line-height: 1;        
    vertical-align: baseline;
    text-align: center;
}
.col-md-6{
    background: #212529;;
}

.texto{
    padding: 20px;
    color: #fff;
    
}

.card-text{
    margin-bottom: 16px;
}

#sinFondo{
    width: 109px;
    padding: 6px 12px;
    color: #f8f9fa;
    border-color: #f8f9fa;
    border-width: 1px;
    background: none;
    height: 38px;
    padding: 6px 12px;
    border-radius: .25rem;
    font-size: 1rem;
}


#sinFondo:hover{
    background: white;
    color:black;
}
.formularios, .formularios2{
    margin: 30px 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: grey;
}
.formularios p, .formularios2 p{
    margin: 0px;
}
h6{
    font-size: 36px;
}

.formFinal{
    margin-top: 16px;
    width: 100%;
    
}

.inputPadron{
   width: 100%;
   padding: 6px 12px;
   border-radius: 3px;
   border: 1px solid #ced4da;

}

#comentario{
    border: 1px solid #ced4da;
    margin-bottom: 0;
    width: 100%;
    border-radius: 3px;
}


.alert {
    height: 75px;
    display: flex;
    align-items: center;
}
    
  
.botonEnviar{
    width: 100%;
}
.botonEnviar:hover{
    background-color: #719b38;
}




footer{
    display: block;
}

.foot{
    z-index: 5;
    display: flex;
    justify-content: center;
    height: 56px;
    width: 100%;
    position:fixed;
    bottom: 0px;
    background: #454647;
    color: rgba(255,255,255,.55);


}

.foot ul{
    margin: 0 120px;
    width:100%;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center; /*alineacion vertical*/
    justify-content: space-between;  /*alineacion horizontal*/
}
.foot ul li{
    vertical-align: baseline;
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 0.5 1rem 0.5 1rem;
    font-size: 1rem;
    justify-content: center;
}

.foot ul >li:first-child{

    padding: .5rem 1rem .5rem 0rem;

}

.foot ul >li:last-child{

    padding: 1rem 0rem 1rem 1rem;
 
}

 a{
    cursor: pointer;
    color: rgba(255,255,255,.55);
    text-decoration: none;
    display: block;

}

.confT{
    color: white;
}

.confT:hover {
    color: rgb(155, 155, 155);
}

.foot a:hover{

    color: white;
}


.card-title2 {
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    height: 2.5em;
    padding: 0.5em;
}

.card2 p {
    padding-bottom: 0.5em;
}
.card-text2 {
    padding: 0px;
}

.card2{
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 18rem;
    height: auto;
}




.pri .card-title2 {
    background: rgb(46, 139, 82);
}


.se .card-title2 {
    background: rgb(185, 45, 178);
}
.ter .card-title2 {
    background: rgb(253, 199, 51);
}

.pri {
    border-color: rgb(46, 139, 82);
}

.se {
    border-color: rgb(185, 45, 178);
}

.ter {
    border-color: rgb(253, 199, 51);
}
.porcentaje {
    font-size: 1.5em;
    font-weight: 600;
}


.inputPadron-Nombre {
    position: relative;
    width: 50%;
}


#iconoAdv1 {
    color: red;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
}


#iconoAdv2 {
    color: red;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 23%;
    top: 74.5%;
    transform: translateY(-50%);
}
#iconoAdv3 {
    color: red;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 23%;
    top: 83%;
    transform: translateY(-50%);
}
#iconoAdv4 {
    color: red;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 45%;
    bottom: 1.75%;
    transform: translateY(-50%);
}


#saldo {
    font-size: 1.5em;
    font-weight: bold;
}

.contenedorBotonticket{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.botonEnviar, .botonticket{
    margin-top: 20px;
    background-color: rgb(152, 202, 80);
    color: white;
    font-size: 1.25em;
    border-width: 1.2px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 7px;
    padding: 6px 12px;
}

.botonticket {
    width: 49%;
}



.botonEnviar:hover, .botonticket:hover {
    background-color: rgb(113, 155, 56);
    border-color: rgb(113, 155, 56);
}


.inputPadron:focus {
    box-shadow: rgba(13, 110, 253, 0.25) 0px 0px 0px 0.25rem;
    border-color: rgb(134, 183, 254);
    outline: 0px;
}


.contenedorBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width:1020px) {
    .topNav{
        position: absolute;
        top: 80px;
        left: 0;
        display: block;
        color: #fff;
        background: #454647;
        width: 100%;
        height: 215px;
    }
    
    .enlaceMenu{
   
        position: absolute;
        top: 20px;
        right: 30px;
        color: white;
        display: flex;
        flex-direction: row-reverse;
        text-decoration: none;
       
  
    }
    .enlaceMenu span{
        display: block;
        font-size: 35px;
        color: rgba(255,255,255,.55);
    } 
    .topLogo{
        width: 200px;
    }

    .listaNav >li {
        position: relative;
        display:inline-block;
        padding: 10px 0px;
        text-align: start;
     
    }
    header nav ul li{
        float: none;
        height: 40px;
    }
    .listaNav li a {
        /*color: #f5f5f5;*/
        color: rgba(255,255,255,.55);
        padding: 10px 15px;
        text-align: center;
    }

    .listaNav{
        display: flex;
        color: rgba(255,255,255,.55);
        justify-content: space-around;
        width: 724px;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
    }



    .listaNav li{
        padding: 0rem;
        align-self: start;
    }
   

    .oradores, .precios{
        height:auto;
    }
    .formularios{
        margin: 30px 50px 200px;
    }
    .formularios2{
        margin: 30px 50px 300px;
    }
    .foot{
        display: block;
        height: auto;
    }
    .foot ul{
        display: inline-flex;
        flex-direction: column;
        align-content: flex-start;
        padding-left: 32px;
        margin: 10px 0;
        align-items: flex-start;
    }

    .foot ul li, .foot ul >li:first-child,  .foot ul >li:last-child{
        vertical-align: baseline;
        display: list-item;
        text-align: start;
        padding: 0.25rem 0rem;
        font-size: 1rem;
        justify-content: start;
    }
    .foot ul li a{
        padding: 5px 15px;
    }


   
}


@media screen and (max-width:571px) 
{
    .oradores, .precios{
        margin: 30px 20px 30px;
        height:auto;
    }

    .formularios{
        margin: 30px 10px 200px;
    }
    .formularios2{
        height: auto;
        margin: 30px 10px 400px;
    }
    .tarjeta{
        margin: 0 2%;
        }
        

}